<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a  href="/">Home</a></li>
   <li><a href="/about">About</a></li>
   <li><a href="/help">Help</a></li>
</ul>

<h1 style="color:aqua;text-align:center;font-size:50px;margin-top:0%">
    Welcome to Express World!
</h1>


</body>
</html>
